<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decryption</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="{{ 'dark-mode' if dark_mode else '' }}">
    <div class="container">
        <div class="text-center my-5">
            <h3>{{ translate('Project for cryptography', lang) }}</h3>
        </div>
        <div class="buttons text-center">
            {% block content %}{% endblock %}
        </div>
    </div>

    <audio id="background-music" autoplay loop>
        <source src="{{ url_for('static', filename='background-music.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var music = document.getElementById("background-music");
            var volume = {{ volume }};
            music.volume = volume;
        });
    </script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>