{% extends "base.html" %}
{% block content %}
<div class="d-flex flex-column align-items-center">
    <div class="form-group w-50">
        <label for="theme-switch">{{ translate('Dark Mode:', lang) }}</label>
        <input type="checkbox" id="theme-switch" class="form-control" {% if dark_mode %}checked{% endif %}>
    </div>
    <div class="form-group w-50">
        <label for="volume">{{ translate('Volume:', lang) }}</label>
        <input type="range" id="volume" min="0" max="100" class="form-control" value="{{ (volume * 100) | round }}">
    </div>
    <div class="form-group w-50">
        <label for="language">{{ translate('Language:', lang) }}</label>
        <select id="language" class="form-control" onchange="setLanguage(this.value)">
            <option value="en" {% if lang == 'en' %}selected{% endif %}>English</option>
            <option value="es" {% if lang == 'es' %}selected{% endif %}>Español</option>
            <option value="pt" {% if lang == 'pt' %}selected{% endif %}>Português</option>
        </select>
    </div>
    <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg m-2 font-weight-bold">{{ translate('Back', lang) }}</a>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var music = document.getElementById("background-music");
        var volume = {{ volume }};
        music.volume = volume;

        document.getElementById("volume").addEventListener("input", function() {
            var volume = this.value / 100;
            music.volume = volume;
            fetch(`/set_volume/${volume}`);
        });

        var darkMode = localStorage.getItem("dark-mode") === "true";
        if (darkMode) {
            document.body.classList.add("dark-mode");
        }

        document.getElementById("theme-switch").addEventListener("change", function() {
            if (this.checked) {
                document.body.classList.add("dark-mode");
                localStorage.setItem("dark-mode", "true");
            } else {
                document.body.classList.remove("dark-mode");
                localStorage.setItem("dark-mode", "false");
            }
        });
    });

    function setLanguage(language) {
        fetch(`/set_language/${language}`).then(() => {
            location.reload();
        });
    }
</script>
{% endblock %}